@layer components {
  .ChipList {
    list-style-type: '';
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 12px;
    gap: 4px;
    margin-block: 0;

    li {
      flex-shrink: 0;

    }
  }
}