@layer components {
  .Chip {
    cursor: pointer;
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #3D3D41;
    background: #FFF;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);

    &[aria-pressed="true"] {
      background-color: #004fff;
      color: #FFF;
    }

    &[aria-disabled="true"] {
      cursor: not-allowed;
    }
  }
}